---
// src/pages/index.astro
import Layout from '../layouts/Layout.astro';
---
<Layout title="Home">
    <h1 class="display-3">Welcome to the Online Studio</h1>
    <p class="lead">Here's a Glimpse of My Work</p>
</Layout>
