---
// src/pages/index.astro
import Layout from '../layouts/Layout.astro';
---
<Layout title="Home">
    <h1 class="display-3">Welcome to the Portfolio</h1>
    <p class="lead">This text uses Bootstrap styling!</p>
</Layout>