---
import Layout from '../layouts/Layout.astro';
---
<Layout title="Thank You!">
    <div class="text-center my-5">
        <h1 class="display-3 text-success">Thank You!</h1>
        <p class="lead">Your message has been successfully sent to the artist.</p>
        <hr class="my-4">
        <p>We appreciate you reaching out and will respond as soon as possible.</p>
        <a class="btn btn-primary btn-lg mt-3" href="/" role="button">Return Home</a>
    </div>
</Layout>
