<nav class="navbar navbar-expand-lg navbar-dark bg-primary sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      Josie Gonzalez
    </a>
    
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="portfolioDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Work
          </a>
          <ul class="dropdown-menu" aria-labelledby="portfolioDropdown">
            <li><a class="dropdown-item" href="/paintings/">Paintings</a></li>
            <li><a class="dropdown-item" href="/murals/">Murals</a></li>
            <li><a class="dropdown-item" href="/public-art/">Public Art</a></li>
          </ul>
        </li>
        
        <li class="nav-item">
          <a class="nav-link" href="/about/">About</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link" href="/contact/">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>